{%extends 'base.html'%}

{%block title_block%}
<title>employee-list</title>
{%endblock%}
{%block main_block%}
<div class="container p-4 border shadow mt-5">
    <a href="{%url 'employee-create'%}" class="btn btn-success">Add Employee</a>

    <h2 class="text-center mb-4"><strong>All Employees</strong></h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Location</th>
            <th>Email</th>
            <th>Address</th>
            <th>action</th>
        </tr>
        {%for e in data%}
        <tr>
            <td>{{e.name}}</td>
            <td>{{e.department}}</td>
            <td>{{e.salary}}</td>
            <td>{{e.location}}</td>
            <td>{{e.email}}</td>
            <td>{{e.address}}</td>
            <td>
                <a href="{%url 'employee-detail' e.id%}" class="btn btn-outline-primary">View</a>
                <a href="{%url 'employee-delete' e.id%}" class="btn btn-outline-success">Remove</a>
                <a href="{%url 'employee-update' e.id%}" class="btn btn-outline-warning">Change</a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endblock%}